.painel {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 20rem;
  align-items: center;
  font-size: 6rem;
  button {
    margin-top: 2rem;
    padding: 0.6rem 8rem;
    box-shadow: 0 0 0 0;
    outline: 0;
    border: none;
    border-radius: 1.6rem;
    font-weight: 700;
    background: white;
    color: rgb(34, 34, 34);
    cursor: pointer;
    &:hover,
    :visited,
    :active :focus {
      border: none;
      color: rgb(155, 27, 27);
    }
  }
  h1,
  h2 {
    text-align: center;
    max-width: 100vw;
    font-family: "Press Start 2P", cursive;
  }
  h1 {
    color: white;
    font-size: 8rem;
  }
  h2 {
    margin: 2rem 0 8rem;
    font-size: 2rem;
    color: rgb(175, 29, 29);
  }
  .socialMedia {
    display: flex;
    flex-wrap: nowrap;
    gap: 2rem;
    a img {
      margin-top: 1.8rem;
      width: 4rem;
      border-radius: 1rem;
      cursor: pointer;
      &:hover {
        animation: rotate 1s forwards;
      }
    }
    @keyframes rotate {
      to {
        transform: rotate(-30deg);
      }
    }
  }
}
